<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>go-gin-chat 聊天室</title>
    <link rel="stylesheet" href="//lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/rolling/css/rolling.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="stylesheet" href="/static/emoji/emojionearea.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
</head>
<body id="body-room" class="room" data-user_id="{{ .user_info.uid }}" data-username="{{ .user_info.username }}"
      data-avatar_id="{{ .user_info.avatar_id }}" data-room_id="{{ .room_id }}">

<div class="scrollbar-macosx">
    <div id="mescroll" class="main container mescroll">
        <div class="col-md-12">
            <ul class="chat_info">

                <li id="chat-list-li-top" class="systeminfo">
                    <span style="cursor: pointer;">
                         提示：点击加载更多消息
                    </span>
                </li>

                <li id="hidden-chat-list-li-top" data-offset="100" data-list-cout="{{ .msg_list_count }}" style="display: none"></li>


                {{$uid:= .user_info.uid}}
                {{$nullSrl:= ""}}

                {{range .msg_list}}

                    {{if eq $uid .user_id}}

                        <li class="right">
                            <img src="/static/images/user/{{ .avatar_id }}.png" alt="">
                            <b>{{ .username }}</b>
                            <i>{{ .created_at }}</i>

                            {{ if eq .image_url $nullSrl }}

                            <div>{{ .content }}</div>
                                {{else}}
                            <div><img class="load-img" data-src="{{ .image_url }}" src="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@master/image-hosting/20210420094013_LVZYIITUUVRWREEE.jpg"/></div>
                                {{end}}
                        </li>

                    {{else}}

                        <li class="left">
                            <img src="/static/images/user/{{ .avatar_id }}.png" alt="">
                            <b>{{ .username }}</b>
                            <i>{{ .created_at }}</i>
                            {{ if eq .image_url $nullSrl }}

                                <div>{{ .content }}</div>
                            {{else}}
                                <div><img class="load-img" data-src="{{ .image_url }}" src="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@master/image-hosting/20210420094013_LVZYIITUUVRWREEE.jpg"/></div>
                            {{end}}
                        </li>

                    {{end}}
                {{end}}


            </ul>
        </div>
    </div>
    <div class="input">
        <div class="center">
            <div class="tools">

                <span class="glyphicon glyphicon-picture imgFileico"></span>

                <input type="file" class="imgFileBtn hidden" accept="image/*">

            </div>
            <div class="text">
                <div class="col-xs-12 col-sm-12">
                    <input type="text" id="emojionearea2" placeholder="输入聊天信息...">
                </div>
            </div>
            <div class="_submit">
                <div class="col-xs-12 col-sm-12 text-right">
                    <a id="subxx" role="button"><span class="glyphicon glyphicon-share-alt"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="//lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="//lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/rolling/js/rolling.js"></script>
<script type="text/javascript" src="/static/javascripts/websocket-heartbeat.js"></script>
<script type="text/javascript" src="/static/javascripts/Public.js?t=2021628141400"></script>
<script type="text/javascript" src="/static/emoji/emojionearea.min.js"></script>
<script type="text/javascript" src="//lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/layer/3.1.1/layer.min.js"></script>
<script type="text/javascript" src="/static/javascripts/load_msg_more.js?t=20201027141958"></script>

<script>
    $(document).ready(function () {
        toLow();
    });
</script>

<script>
    $("#emojionearea2").emojioneArea({
      pickerPosition: "top",
      tonesStype: "radio",
      events: {
        keyup: function (editor, event) {
          if (event.which == 13) {
            $("#subxx").click();
          }
        },
      },
    });

    $("#emojionearea2")[0].emojioneArea.setFocus();
    // send message
    $("#subxx").click(function (event) {
      let message = $("#emojionearea2")[0].emojioneArea.getText();
      message = message.replace(/\</g, "&lt;");
      message = message.replace(/\>/g, "&gt;");
      message = message.replace(/\n/g, "<br/>");
      message = message.replace(
        /\[em_([0-9]*)\]/g,
        '<img src="images/face/$1.gif" alt="" />'
      );

      if ($.trim(message) !== "") {
        to_user_id = getUrlParams("to_user_id");
        status = msgTypePrivateChat;

        let date = new Date();
        let time = date.toLocaleDateString() + date.toLocaleTimeString();
        let username = $(".room").attr("data-username");
        let user_portrait = $(".room").attr("data-avatar_id");
        $(".main .chat_info").html(
          $(".main .chat_info").html() +
            `<li class="right">
				<img src="/static/images/user/${user_portrait}.png" alt="">
				<b>${username}</b>
				<i>
					<div class="">${message}</div>
				</i>
			</li>`
        );

        let send_data = JSON.stringify({
          status: status,
          data: {
            from_user_id: $(".room").attr("data-user_id").toString(),
            username: username,
            avatar_id: user_portrait,
            room_id: $(".room").attr("data-room_id"),
            content: message,
            image_url: "",
            to_user_id: to_user_id,
          },
        });
        ws.send(send_data);

        toLow();

        $("#emojionearea2")[0].emojioneArea.setText("");
        $("#emojionearea2")[0].emojioneArea.setFocus();
      }
    });
  </script>