<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>gin_chat_demo_room</title>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/rolling/css/rolling.css">
	<link rel="stylesheet" href="/static/stylesheets/style.css">
	<script type="text/javascript" src="/static/javascripts/jquery-1.11.2.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/rolling/js/rolling.js"></script>
	<script type="text/javascript" src="/static/javascripts/Public.js"></script>
</head>
<body class="room">
	<div class="scrollbar-macosx">
		<div class="header">
			<div class="toptext">
				<a href="index.html">
					<span class="glyphicon glyphicon-arrow-left"></span> 返回大厅
				</a>
			</div>
			<ul class="topnavlist">
				<li class="userlist">
					<a><span class="glyphicon glyphicon-th-list"></span>用户列表</a>
					<div class="popover fade bottom in">
						<div class="arrow"></div>
						<h3 class="popover-title">在线用户1人</h3>
						<div class="popover-content scrollbar-macosx">
							<ul class="ul_user_list">
								<li>
									<img src="images/user/12.png" alt="portrait_1">
									<b>美国队长</b>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
			<div class="clapboard hidden"></div>
		</div>
		
		<div id="mescroll" class="main container mescroll">
			<div class="col-md-12">
				<ul class="chat_info">
					<li id="chat-list-li-top" class="systeminfo">
						<span style="cursor: pointer;">
							提示：点击加载更多信息
						</span>
					</li>

					<li id="hidden-chat-list-li-top" data-offset="100" data-list-count="{{ .msg_list_count }}" style="display: none;"></li>

					{{ $user_id := .user_info.user_id }}
					{{ range .msg_list }}
						{{ if eq $user_id .from_user_id }}
							<li class="right">
								<img src="/static/images/user/{{ .avatar_id }}.png" alt="">
								<b>{{ .username }}</b>
								<i>{{ .created_at }}</i>
								{{ if eq .image_url "" }}
									<div>{{ .content }}</div>
								{{ else }}
									<div><img src="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@master/image-hosting/20210420094013_LVZYIITUUVRWREEE.jpg" data-src="{{ .image_url }}" class="load-img"></div>
								{{ end }}
							</li>
						{{ else }}
							 <li class="left">
								<img src="/static/images/user/{{ .avatar_id }}.png" alt="">
								<b>{{ .username }}</b>
								<i>{{ .created_at }}</i>
								{{ if eq .image_url "" }}
									<div>{{ .content }}</div>
								{{ else }}
									<div><img class="load-img" data-src="{{ .image_url }}" src="https://cdn.jsdelivr.net/gh/hezhizheng/static-image-hosting@master/image-hosting/20210420094013_LVZYIITUUVRWREEE.jpg"/></div>
								{{ end }}
								</li>
						{{ end }}
					{{ end }}
				</ul>
			</div>
		</div>

		<div class="input">
			<div class="center">
				<div class="tools">
					<span class="glyphicon glyphicon-picture imgFileico"></span>
					<input type="file" class="imgFileBtn hidden" accept="image/*">
				</div>
				<div class="text">
					<div class="col-xs-12 col-sm-12">
						<input type="text" id="emojionearea2" placeholder="输入聊天信息...">
					</div>
				</div>
				<div class="_submit">
					<div class="col-xs-12 col-sm-12 text-right">
						<a id="subxx" role="button"><span class="glyphicon glyphicon-share-alt"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script>
	$(document).ready(function() {
		let user = {
			user_id: {{ .user_info.user_id }},
			username: {{ .user_info.username }},
			room_id: {{ .room_id }},
			avatar_id: {{ .user_info.avatar_id }},
		};
		WebSocketConnect(user);
	});
</script>
</html>